<toolsconfig 
title="增量更新工具@cyj"
appName="增量更新工具"

version="1.0.6"

ftphost="192.168.2.55"
ftpname="dev"
ftppass="1234"


svnpath="$apppath/res/bin/svnbin/svn.exe" 
svnoutpath="D:/svnOut/"

rarpath="$apppath/res/bin/rarbin/winrar.exe"
webppath="$apppath/res/bin/webpbin/cwebp.exe"

upip="192.168.2.51"
upname="root"
uppass="1234"



logpath="$apppath/res/log/log.txt"
logmaxshownum="14"

localtimeminnum="300"

projectpath="file:////192.168.2.50/ftp/tool/remotdata/packres/list.config"
versionconfig="file:////192.168.2.50/ftp/tool/remotdata/packres/version.ver"

/>
