<config>
<project 
	name="皇城站"
	id="hcz"
	svnroot="https://svn/svn/hcz/"
	svncmd="log https://svn/svn/hcz/trunk/res/ -r {$starttime}:{$endtime} -v  "
	svnoutingoredic="/trunk/res/"
	updir="\\192.168.2.51\packages\hcz_version\online\res"
	resdicpath="\\192.168.2.50\hcz\zhcn\config\nightly\res.dat"
	res50path="\\192.168.2.50\hcz\res"
/>
<project 
	name="九阴九阳"
	id="9y9y"
	svnroot="https://svn/svn/9y9y/"
	svncmd="log https://svn/svn/9y9y/trunk/res/ -r {$starttime}:{$endtime} -v  "
	svnoutingoredic="/trunk/res/"
	updir="\\192.168.2.51\packages\9y9y_version\online\res"
	resdicpath="\\192.168.2.50\9y9y\zhcn\config\nightly\res.dat"
	res50path="\\192.168.2.50\9y9y\res"
/>
<project 
	name="九阴九阳(韩国)"
	id="9y9y_kr"
	svnroot="https://svn/svn/9y9y_kr/"
	svncmd="log https://svn/svn/9y9y_kr/trunk/res/ -r {$starttime}:{$endtime} -v  "
	svnoutingoredic="/trunk/res/"
	updir="\\192.168.2.51\packages\9y9y_kr_version\online\res"
	resdicpath="\\192.168.2.50\9y9y_kr\zhcn\config\nightly\res.dat"
	res50path="\\192.168.2.50\9y9y_kr\res"
/>
<project 
	name="雪域BT版"
	id="xycs"
	svnroot="https://svn/svn/xycs/"
	svncmd="log https://svn/svn/xycs/trunk/res/ -r {$starttime}:{$endtime} -v  "
	svnoutingoredic="/trunk/res/"
	updir="\\192.168.2.51\packages\xycs_version\online\res"
	resdicpath="\\192.168.2.50\xycs\zhcn\config\nightly\res.dat"
	res50path="\\192.168.2.50\xycs\res"
/>


</config>