<config>


<project 
	name="H5-观海策"
	id="h5_ghc"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/cn/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/cn/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\ftp\tool\remotdata\tempdata\h5res\res.dat"
	res50path="\\192.168.2.50\{$id}\res\cn"
	encryptMap="2"
	mapkey=""
	mapextion=""
	weburl="http://192.168.2.50:60200/build/index.html"
/>
<project 
	name="H5-轩辕剑"
	id="h5_xyj"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/cn/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/cn/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\ftp\tool\remotdata\tempdata\h5res\res.dat"
	res50path="\\192.168.2.50\{$id}\res\cn"
	encryptMap="2"
	mapkey=""
	mapextion=""
	weburl="http://192.168.2.50:60700/build/index.html"
/>
<project 
	name="H5-轩辕剑2"
	id="h5_xuanyuanjian2"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/cn/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/cn/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\ftp\tool\remotdata\tempdata\h5res\res.dat"
	res50path="\\192.168.2.50\{$id}\res\cn"
	encryptMap="2"
	mapkey=""
	mapextion=""
	weburl="http://192.168.2.50:61000/build/index.html"
/>
<project 
	name="H5-尘缘"
	id="h5_chenyuan"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/cn/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/cn/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\ftp\tool\remotdata\tempdata\h5res\res.dat"
	res50path="\\192.168.2.50\{$id}\res\cn"
	encryptMap="2"
	mapkey=""
	mapextion=""
	weburl="http://192.168.2.50:60800/build/index.html"
/>
<project 
	name="H5-尘缘2"
	id="h5_chenyuan2"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/cn/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/cn/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\ftp\tool\remotdata\tempdata\h5res\res.dat"
	res50path="\\192.168.2.50\{$id}\res\cn"
	encryptMap="2"
	mapkey=""
	mapextion=""
	weburl="http://192.168.2.50:61100/build/index.html"
/>
<project 
	name="H5-尘缘2BT"
	id="h5_chenyuan2_bt"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/cn/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/cn/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\ftp\tool\remotdata\tempdata\h5res\res.dat"
	res50path="\\192.168.2.50\{$id}\res\cn"
	encryptMap="2"
	mapkey=""
	mapextion=""
	weburl="http://192.168.2.50:61200/build/index.html"
/>
<project 
	name="H5-版署"
	id="h5_banshu"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/cn/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/cn/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\ftp\tool\remotdata\tempdata\h5res\res.dat"
	res50path="\\192.168.2.50\{$id}\res\cn"
	encryptMap="2"
	mapkey=""
	mapextion=""
	weburl="http://192.168.2.50:60300/build/index.html"
/>
<project 
	name="H5-版署01"
	id="h5_banshu_01"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/cn/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/cn/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\ftp\tool\remotdata\tempdata\h5res\res.dat"
	res50path="\\192.168.2.50\{$id}\res\cn"
	encryptMap="2"
	mapkey=""
	mapextion=""
	weburl="http://192.168.2.50:60400/build/index.html"
/>
<project 
	name="H5-版署02"
	id="h5_banshu_02"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/cn/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/cn/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\ftp\tool\remotdata\tempdata\h5res\res.dat"
	res50path="\\192.168.2.50\{$id}\res\cn"
	encryptMap="2"
	mapkey=""
	mapextion=""
	weburl="http://192.168.2.50:60500/build/index.html"
/>
<project 
	name="H5-版署03"
	id="h5_banshu_03"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/cn/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/cn/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\ftp\tool\remotdata\tempdata\h5res\res.dat"
	res50path="\\192.168.2.50\{$id}\res\cn"
	encryptMap="2"
	mapkey=""
	mapextion=""
	weburl="http://192.168.2.50:60600/build/index.html"
/>
<project 
	name="皇城站"
	id="hcz"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\{$id}\zhcn\config\nightly\res.dat"
	res50path="\\192.168.2.50\{$id}\res"
	encryptMap="1"
	mapkey="3tion"
	mapextion="mpq"
	weburl="http://192.168.2.50:9090/cq_build/dobuild.do"
/>
<project 
	name="九阴九阳"
	id="9y9y"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\{$id}\zhcn\config\nightly\res.dat"
	res50path="\\192.168.2.50\{$id}\res"
	encryptMap="1"
	mapkey="3tion"
	mapextion="mpq"
	weburl="http://192.168.2.50:9090/cq_build/dobuild.do"
/>
<project 
	name="九阴九阳(韩国)"
	id="9y9y_kr"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\{$id}\zhcn\config\nightly\res.dat"
	res50path="\\192.168.2.50\{$id}\res"
	encryptMap="1"
	mapkey="3tion"
	mapextion="mpq"
	weburl="http://192.168.2.50:9090/cq_build/dobuild.do"
/>
<project 
	name="九阴九阳BT"
	id="9y9y_bt"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\{$id}\zhcn\config\nightly\res.dat"
	res50path="\\192.168.2.50\{$id}\res"
	encryptMap="1"
	mapkey="3tion"
	mapextion="mpq"
	weburl="http://192.168.2.50:9090/cq_build/dobuild.do"
/>
<project 
	name="雪域BT版"
	id="xycs"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\{$id}\zhcn\config\nightly\res.dat"
	res50path="\\192.168.2.50\{$id}\res"
	encryptMap="1"
	mapkey="3tion"
	mapextion="mpq"
	weburl="http://192.168.2.50:9090/cq_build/dobuild.do"
/>
<project 
	name="版署版"
	id="banshu"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\{$id}\zhcn\config\nightly\res.dat"
	res50path="\\192.168.2.50\{$id}\res"
	encryptMap="1"
	mapkey="3tion"
	mapextion="mpq"
	weburl="http://192.168.2.50:9090/cq_build/dobuild.do"
/>
<project 
	name="五鼠"
	id="chuanqi2"
	svnroot="https://svn/svn/wsnjd/"
	svncmd="log https://svn/svn/wsnjd/trunk/res/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\{$id}\zhcn\config\nightly\res.dat"
	res50path="\\192.168.2.50\{$id}\res"
	encryptMap="1"
	mapkey="3tion"
	mapextion="mpq"
	weburl="http://192.168.2.50:9090/cq_build/dobuild.do"
/>
<project 
	name="天神战-海南"
	id="xycs_hn"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\{$id}\zhcn\config\nightly\res.dat"
	res50path="\\192.168.2.50\{$id}\res"
	encryptMap="1"
	mapkey="3tion"
	mapextion="mpq"
	weburl="http://192.168.2.50:9090/cq_build/dobuild.do"
/>
<project 
	name="尘缘"
	id="chenyuan"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\{$id}\zhcn\config\nightly\res.dat"
	res50path="\\192.168.2.50\{$id}\res"
	encryptMap="1"
	mapkey="3tion"
	mapextion="mpq"
	weburl="http://192.168.2.50:9090/cq_build/dobuild.do"
/>
<project 
	name="皇城站BT"
	id="hcz_bt"
	svnroot="https://svn/svn/{$id}/"
	svncmd="log https://svn/svn/{$id}/trunk/res/ -r {==starttime==}:{==endtime==} -v  "
	svnoutingoredic="/trunk/res/"
	updir="\\192.168.2.51\packages\{$id}_version\online\res"
	resdicpath="\\192.168.2.50\{$id}\zhcn\config\nightly\res.dat"
	res50path="\\192.168.2.50\{$id}\res"
	encryptMap="1"
	mapkey="3tion"
	mapextion="mpq"
	weburl="http://192.168.2.50:9090/cq_build/dobuild.do"
/>

</config>